.m-hero-avatar {
  width: 96px;
  height: 96px;
  margin: 0 auto 25px;
  border-radius: 50%;
  background-color: #5c697c;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: var(--avatar-shadow);

  @include respond-to('medium') {
    width: 110px;
    height: 110px;
    margin: 6px 40px 6px 6px;
  }
}
