.m-hero {
  position: relative;
  flex-direction: column;
  min-height: 200px;
  overflow: hidden;
  padding: 90px 0 20px;
  background-color: var(--background-color);
  @extend .content-centered;

  @include respond-to('medium') {
    min-height: 265px;
    padding: 120px 0 10px;
  }

  &.with-picture {
    color: $white;
    background-color: $black;

    .m-hero-title {
      color: $white;
    }
  }
}

.m-hero__picture {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.7;

  &.in-post {
    opacity: 1;
    position: relative;
    margin: 40px 0 20px 0;

    @include respond-to('medium') {
      margin: 60px 0 40px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.m-hero__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  text-align: center;
  z-index: 2;

  &.in-post {
    display: block;
  }

  &.centered {
    display: block;
    text-align: center;
  }

  &.bigger {
    padding-top: 10px;
    padding-bottom: 40px;

    @include respond-to('medium') {
      padding-top: 20px;
      padding-bottom: 80px;
    }
  }

  @include respond-to('medium') {
    flex-direction: row;
    width: 100%;
    text-align: left;
    padding: 0 20px;
  }

  @include respond-to('large') {
    padding: 0 30px;
  }

  @include respond-to('extra-large') {
    padding: 0;
  }
}

.m-hero__meta {
  margin: 0 auto;

  @include respond-to('medium') {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.centered {
  .m-hero__meta {
    justify-content: center;
  }
}

.rtl {
  .m-hero__meta {
    direction: ltr;
  }
}
