.m-hero-stats {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0 0 4px 0;

  &.with-picture {
    color: $white;
  }

  &.bigger {
    li {
      font-size: 0.938rem;

      @include respond-to('medium') {
        font-size: 1.125rem;
      }
    }
  }

  li {
    display: inline-block;
    color: var(--description-color);
    letter-spacing: 0.2px;
    font-size: 0.813rem;
    margin: 0 4px 0 0;

    @include respond-to('medium') {
      letter-spacing: 0.3px;
      font-size: 1rem;
    }
  }
}
