.l-content {
  padding: 20px 0 20px;

  @include respond-to('medium') {
    padding: 40px 0 40px;
  }

  &.in-post {
    padding: 0 0 40px;
  }

  &.bigger {
    padding: 40px 0 20px;

    @include respond-to('medium') {
      padding: 40px 0 40px;
    }
  }
}
