/** Helpers */

.hide {
  display: none;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}

.focusable {
  &:focus {
    box-shadow: 0 0 0 2px var(--primary-subtle-color);
  }
}

.content-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-appearance {
  -webkit-appearance: none !important;
  appearance: none !important;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-scroll-y {
  overflow-y: hidden !important;
}

.align-center {
  text-align: center !important;
}

.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}

.pos-relative {
  position: relative !important;
}

.pos-absolute {
  position: absolute !important;
}

.bold {
  font-weight: bold !important;
}

.underline {
  text-decoration: underline !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.pointer {
  cursor: pointer !important;
}

.only-desktop {
  display: none !important;

  @include respond-to('medium') {
    display: block !important;
  }
}
