:root,
[data-theme="light"] {
  --background-color: #fff;
  --primary-foreground-color: #4a4a4a;
  --secondary-foreground-color: #000;
  --primary-subtle-color: #0470ee;
  --secondary-subtle-color: #f4f8fd;
  --titles-color: #333;
  --description-color: #616161;
  --link-color: #133467;
  --primary-border-color: #cfd8dc;
  --secondary-border-color: #fff;
  --article-shadow-normal: 0 10px 10px rgba(0,0,0,0.08);
  --article-shadow-hover: 0 4px 60px 0 rgba(0,0,0,0.2);
  --transparent-background-color: rgba(255,255,255,0.99);
  --header-background-color: #e4e8ed;
  --footer-background-color: #333;
  --submenu-shadow-color-opacity: 0.25;
  --button-shadow-color-normal: rgba(108, 108, 108, 0.2);
  --button-shadow-color-hover: rgba(108, 108, 108, 0.3);
  --table-background-color-odd: #fafafa;
  --table-head-border-bottom: #e2e2e2;
  --toggle-darkmode-button-display-moon: block;
  --toggle-darkmode-button-display-sun: none;
  --toggle-darkmode-background-color: rgba(0, 0, 0, 0.1);
  --avatar-shadow: 0 0 0 6px hsla(0,0%,0%,.1);
}

[data-theme="dark"] {
  --background-color: #1a1c20;
  --primary-foreground-color: #ccc;
  --secondary-foreground-color: #fff;
  --primary-subtle-color: #2c2fe6;
  --secondary-subtle-color: #222428;
  --titles-color: #d3d3d3;
  --description-color: #a9a9a9;
  --link-color: #b6b7f6;
  --primary-border-color: #546e7a;
  --secondary-border-color: #1a1c20;
  --article-shadow-normal: 0 4px 5px 5px rgba(0,0,0,0.1);
  --article-shadow-hover: 0 4px 5px 10px rgba(0,0,0,0.1);
  --transparent-background-color: rgba(0,0,0,0.99);
  --header-background-color: #0a0b0c;
  --footer-background-color: #0a0b0c;
  --submenu-shadow-color-opacity: 0.4;
  --button-shadow-color-normal: rgba(10, 10, 10, 0.5);
  --button-shadow-color-hover: rgba(10, 10, 10, 0.5);
  --table-background-color-odd: #050505;
  --table-head-border-bottom: #1d1d1d;
  --toggle-darkmode-button-display-moon: none;
  --toggle-darkmode-button-display-sun: block;
  --toggle-darkmode-background-color: rgba(255, 255, 255, 0.1);
  --avatar-shadow: 0 0 0 6px hsla(0,0%,100%,.04);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --background-color: #1a1c20;
    --primary-foreground-color: #ccc;
    --secondary-foreground-color: #fff;
    --primary-subtle-color: #2c2fe6;
    --secondary-subtle-color: #222428;
    --titles-color: #d3d3d3;
    --description-color: #90a4ae;
    --link-color: #b6b7f6;
    --primary-border-color: #546e7a;
    --secondary-border-color: #1a1c20;
    --article-shadow-normal: 0 4px 5px 5px rgba(0,0,0,0.1);
    --article-shadow-hover: 0 4px 5px 10px rgba(0,0,0,0.1);
    --transparent-background-color: rgba(0,0,0,0.99);
    --header-background-color: #0a0b0c;
    --footer-background-color: #0a0b0c;
    --submenu-shadow-color-opacity: 0.4;
    --button-shadow-color-normal: rgba(10, 10, 10, 0.5);
    --button-shadow-color-hover: rgba(10, 10, 10, 0.5);
    --table-background-color-odd: #050505;
    --table-head-border-bottom: #1d1d1d;
    --toggle-darkmode-button-display-moon: none;
    --toggle-darkmode-button-display-sun: block;
    --toggle-darkmode-background-color: rgba(255, 255, 255, 0.1);
    --avatar-shadow: 0 0 0 6px hsla(0,0%,100%,.04);
  }
}
